# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Gedit backup files
*~

#Test executables
*test
*cc.c

# Sublime files
*.sublime-*

#LaTeX files
*.aux
*.log
*.pdf

#Problem Set Files
ps2/region
ps2/out.bmp
*.zip
*.tar.gz
ps3/spmv
ps4/*_out.bmp
ps4/omp
ps4/pthreads
ps4/serial
ps5/run_*
ps5/*_out.bmp
ps5/cuda-memcheck.*
ps6/run_*
ps6/*_out.bmp
